* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    color: #333;
    background: #ffffff; 
    font-family: "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.94em;
    line-height: 135%;
}

aside, nav, footer, header, section { 
    display: block; 
}

ul {
    list-style:none;
}

a {
    display: block;
    text-decoration:none;
}

a:hover {
    text-decoration: none;
}

header {
    width:100%;
    background: #0dbfe5;
    height:57px;
    z-index: 4;
}

#headerInner {
    position:relative;
    border: 0px solid #333;
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    margin-top: 0px;
    display: block;
}

.menu {
    height:57px;
    position: absolute;
    border: 0px solid #1FA2E1;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: white;
    font-weight: 400;
    font-size: 18px; 
    padding: 16px 20px 21px 20px;
}

.top.menu a:hover {
    color: #0dbfe5;
    background-color: white;
}

.top.menu {
    left:0px;
    top:0px;
}

.shareNew {
    height: 57px;
    position: absolute;
    right: 0px;
    top: 14px;
    border: 0px solid #1FA2E1;
}

.shareNew a {
    color: white;
    margin-right: 5px;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    transition: 0.5s;
}

.shareNew a:hover {
   transform: scale(1.2); 
}

.icon-twitter {
    background: url(images/twitter.png) no-repeat center;
    background-size: contain;
}

.icon-rss {
    background: url(images/rss.png) no-repeat center;
    background-size: contain;
}

.icon-mail {
    background: url(images/mail.png) no-repeat center;
    background-size: contain;
}

.logo {
    position: absolute;
    left: 0px;
    top: 90px;
}

#lpblock {
    background: #eee;
    position: relative;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    margin-top: 193px;
}

.bottomMenu {
    width: 1200px;
    height: 60px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #2e2e2e;
}

.dropdown_nav > li {
    height: 60px;
    display: inline-block;
}

.sub_nav {
    display: none;
}

.dropdown_nav a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: white;
    height: 100%;
    width: 100%;
    padding: 21px 27px;
}

.dropdown_nav a:hover {
    background-color: black;
}

#lpblock {
    background: url(images/last-notes-bg.jpeg) no-repeat center;
    background-size: cover;
    background-color: black;
    background-attachment:fixed;
}

#lpblock h2 {
    color: white;
    font-size: 48px;
    font-weight: 100;
    text-align: center;
    padding-top: 35px;
    animation: moveRight 0.5s ease-in-out 0.5s backwards;
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translate(-900px);
    }
}

#lpblock:hover {
    filter: none;
}

#middle {
    width: 1200px;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
}

#colLeft {
    flex-basis: 800px;
}

.colRight {
    flex-basis: 350px;
}

.postThumb {
    position: relative;
    overflow: hidden;
    transition: 500ms ease-out 200ms;
}

.postThumb::after {
    content: attr(data-descr);
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 1.5rem;
    transition: 500ms ease-out 200ms;
    pointer-events: none;
}

.postThumb:hover::after {
    margin-top: -50px;
    top: 50%; 
}

.postThumb:hover {
    filter: grayscale(0.8);
}

article h2 {
    margin: 20px 0;
}

article h2 a {
    color: #4e4e4e;
    font-family: "Segoe UI";
    font-size: 35px;
    font-weight: 400;
}

article h2 a:hover {
    color: #1FA2E1;
}

.info {
    margin: 20px 0;
    color: #9c9c9c;
    font-size: 14px;
    font-weight: 400;
}

.textPreview {
    color: #2e2e2e;
    font-size: 15px;
    font-weight: 400;
}

.more-link a {
    width: 101px;
    height: 36px;
    background-color: #0dbfe5;
    border-radius: 5px;
    margin: 20px 0 40px 0;
    padding: 8px 25px 9px 24px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    transition: background-color .5s, color .5s;
}

.more-link:hover a {
    background-color: #303030;
    color: #0dbfe5;
}

.raz {
    width: 116px;
    height: 29px;
    margin: 0 auto;
    margin-bottom: 50px;
    background: url(images/raz.png) no-repeat center;
    background-size: contain;
}

form {
    position: relative;
}

#search {
    width: 350px;
    height: 50px;
    background-color: #eeeeee;
    border: none;
    padding: 17px 200px 19px 21px;
    color: #303030;
    font-size: 18px;
}

#search::placeholder {
    color: #9d9d9d;
    font-size: 18px;
}

#submit {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    margin-top: -8.5px;
    right: 19px;
    background: url(images/search.png) no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.rightBox {
    margin: 50px 0;
}

.rightBox h2 {
    color: #3d3d3d;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 0 13px 21px;
    background-color: #f6f6f6;
}

.rightBox li {
    line-height: 250%;
    border-bottom: 1px solid #f6f6f6;
    vertical-align: middle;
}

.rightBox li a {
    font-size: 16px;
    color: #4e4e4e;
    font-weight: 400;
}

.rightBox li:hover a {
    color: #0dbfe5;
}

.rightBoxTop {
    position: relative;
}

.icon-widget {
    width: 19px;
    height: 15px;
    position: absolute;
    top: 50%;
    margin-top: -7.5px;
    right: 15px;
    background: url(images/icon-widget.png) no-repeat center;
    background-size: contain;
}

footer {
    width:100%;
    background: #0dbfe5;
    height: 88px;
    z-index: 4;
}

#footerInner {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

footer .logo {
    top: 19px;
}

.bottom.menu {
    right: 0px;
    top: 16px;
}

.bottom.menu a:hover {
    color: #4e4e4e;
}
